.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background:linear-gradient(90deg,#0C61FD 50%,#0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.loader::before {
  content :"Загрузка...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,#e9eff8 50%,#0C61FD 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l21{
  100%{background-position: left}
}

@media (prefers-color-scheme: dark) {
  .loader {
    background:linear-gradient(90deg,#0C61FD 50%,#0000 0) right/200% 100%;
  }
  .loader::before {
    background-image: linear-gradient(90deg, #14181C 50%, #0C61FD 0);
  }
}

/* .loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height:1.2em;
  overflow: hidden;
}
.loader:before {
  content:"Загрузка...\A⌰агрузка...\A⌰⍜грузка...\A⌰⍜⏃рузка...\A⌰⍜⏃⎅узка...\A⌰⍜⏃⎅⟟зка...\A⌰⍜⏃⎅⟟⋏ка...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
  white-space: pre;
  display: inline-block;
  animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
  100%{transform: translateY(-100%)}
} */