@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* светлая тема по умолчанию */
  --bg: #e9eff8;
  color-scheme: light;
}
:root[data-color-scheme='dark'] {
  /* тёмная тема */
  --bg: #14181C;
  color-scheme: dark;
}
body {
  background: var(--bg);
}
