@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e9eff8;
}

:root {
  color-scheme: light;
}
[data-color-scheme='dark'] {
  color-scheme: dark;
  body {
    background: #14181C;
  }
}
