@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* светлая тема по умолчанию */
  --bg: #e9eff8;
  color-scheme: light;
}
:root[data-color-scheme='dark'] {
  /* тёмная тема */
  --bg: #14181C;
  color-scheme: dark;
}
body {
  background: var(--bg);
}

select {
  /* убираем стандартную стрелку */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* пространство под иконку */
  padding-right: 2.25rem;

  /* Кастомная стрелка: URL-ЭНКОДИНГ для Safari/Firefox */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center; /* регулируй отступ */
  background-size: 1rem;                      /* регулируй толщину/размер */

  /* чтобы иконка подстраивалась под цвет текста */
  color: inherit;
}

:root {
  --select-color: #000;
}
:root[data-color-scheme='dark'] {
  --select-color: #fff;
}
/* применяем цвет к тексту и стрелке (currentColor) */
select { color: var(--select-color); }